@import "Assets/parts/buttons-fixes.css";
@import "Assets/parts/buttons.css";
@import "Assets/parts/csd.css";
@import "Assets/parts/custom-icons.css";
@import "Assets/parts/entries.css";
@import "Assets/parts/findbar.css";
@import "Assets/parts/headerbar-private-urlbar.css";
@import "Assets/parts/headerbar-urlbar.css";
@import "Assets/parts/headerbar.css";
@import "Assets/parts/icons.css";
@import "Assets/parts/sidebar.css";
@import "Assets/parts/popups-contents.css";
@import "Assets/parts/popups.css";
@import "Assets/parts/remove-white-flash.css";
@import "Assets/parts/scrollbars.css";
@import "Assets/parts/tabsbar.css";
@import "Assets/parts/titlebutton-light.css";
@import "Assets/parts/titlebutton-dark.css";
@import "Assets/parts/toolbox.css";
@import "Assets/parts/windows.css";
@import "Assets/color.css";
@import "Assets/customs/extension-menu-in-grid.css";
@import "Assets/customs/hide-single-tab.css";
@import "Assets/customs/overflow-menu.css";

* {
  font-family: 'SF Pro' !important;
  font-size: 100%;
}

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Set theme version text in customization panel */

#customization-footer::before {
	content: "VenSur theme ver 1.2.3";
	padding: 9px;
}



  tab[label="New Tab"] label.tab-label {
    display: none !important;
  }
  tab[label="New Tab"] .tab-label-container:after {
    content: 'Start Page';
  }

.browserContainer {
	transition: padding 150ms ease-in-out;

	> findbar {
		transition: opacity 150ms ease-in-out, margin-top 150ms ease-in-out, visibility 0s linear !important;
	}
}

/* Remove icons in ui desnity popup  and center text*/
.customization-uidensity-menuitem {
  & > .menu-icon {
    display: none !important;
  }
}

.customization-uidensity-menuitem {
  & > .menu-text {
    padding: 10px !important;
  }
}

@media not -moz-pref("show.panelUI.button") {
  #PanelUI-menu-button {
    display: none !important;
  }
}

.PanelUI-subView{
  min-width: 250px !important;
  background: transparent !important;
}

