@import "WhiteSur/parts/buttons-fixes.css";
@import "WhiteSur/parts/buttons.css";
@import "WhiteSur/parts/csd.css";
@import "WhiteSur/parts/custom-icons.css";
@import "WhiteSur/parts/entries.css";
@import "WhiteSur/parts/findbar.css";
@import "WhiteSur/parts/headerbar-private-urlbar.css";
@import "WhiteSur/parts/headerbar-urlbar.css";
@import "WhiteSur/parts/headerbar.css";
@import "WhiteSur/parts/icons.css";
@import "WhiteSur/parts/popups-contents.css";
@import "WhiteSur/parts/popups.css";
@import "WhiteSur/parts/remove-white-flash.css";
@import "WhiteSur/parts/scrollbars.css";
@import "WhiteSur/parts/tabsbar.css";
@import "WhiteSur/parts/titlebutton-light.css";
@import "WhiteSur/parts/titlebutton-dark.css";
@import "WhiteSur/parts/toolbox.css";
@import "WhiteSur/parts/windows.css";
@import "WhiteSur/color.css";


/* Custom settings */
@import "WhiteSur/customs/extension-menu-in-grid.css";
@import "WhiteSur/customs/hide-single-tab.css";
/* @import "WhiteSur/customs/tab-preview-on-hover.css"; */
/* @import "WhiteSur/customs/mini-tabbar.css"; */


@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Set theme version text in customization panel */

#customization-footer::before {
	content: "WhiteSur theme (Venqul's Fork) ver. 1.2.7";
	padding: 9px;
}


/* code to remove extensions icon */
#unified-extensions-button{
    width: 3px;
    padding-inline: 0 !important
}
#unified-extensions-button > .toolbarbutton-icon {
    width: 0 !important;
}
/* code to remove extensions icon */

* {
    font-family: "SF Pro Text" !important;
    font-size: 100%;
 }
 /* code to remove bookmark "star" icon form adressbar */
 #star-button-box { display:none !important; }
  /* code to remove bookmark "star" icon form adressbar */


  tab[label="New Tab"] label.tab-label {
    display: none !important;
  }
  tab[label="New Tab"] .tab-label-container:after {
    content: 'Start Page';
  }

  #email-link-button {
    list-style-image: url("icons/share.svg") !important;
  }

  #tabs-newtab-button, #new-tab-button {
    list-style-image: url("icons/plus.svg") !important;
  }

  #downloads-indicator-anchor {
    list-style-image: url("neptune/icons/downloads.svg") !important;
  }

  #firefox-view-button {
    list-style-image: url("icons/tabs.svg") !important;
  }

	#main-window toolbox toolbar :-moz-any(#sidebar-button) .toolbarbutton-icon {
		list-style-image: url("neptune/icons/sidebars.svg") !important;
	}

  #PanelUI-menu-button {
    list-style-image: url("icons/menu.svg") !important;
  }

.tab-icon-image[src="chrome://branding/content/icon32.png"] { 
  content: url("icons/star.svg") !important; 
}


/* code to remove hamburger menu */
#PanelUI-menu-button {
  display: none !important;
}
/* code to remove hamburger menu */




.browserContainer {
	transition: padding 150ms ease-in-out;

	> findbar {
		transition: opacity 150ms ease-in-out, margin-top 150ms ease-in-out, visibility 0s linear !important;
	}
}

/* Remove icons in ui desnity popup  and center text*/
.customization-uidensity-menuitem {
  & > .menu-icon {
    display: none !important;
  }
}
.customization-uidensity-menuitem {
  & > .menu-text {
    padding: 10px !important;
  }
}