@import "VenSur/parts/buttons-fixes.css";
@import "VenSur/parts/buttons.css";
@import "VenSur/parts/csd.css";
@import "VenSur/parts/custom-icons.css";
@import "VenSur/parts/entries.css";
@import "VenSur/parts/findbar.css";
@import "VenSur/parts/headerbar-private-urlbar.css";
@import "VenSur/parts/headerbar-urlbar.css";
@import "VenSur/parts/headerbar.css";
@import "VenSur/parts/icons.css";
@import "VenSur/parts/popups-contents.css";
@import "VenSur/parts/popups.css";
@import "VenSur/parts/remove-white-flash.css";
@import "VenSur/parts/scrollbars.css";
@import "VenSur/parts/tabsbar.css";
@import "VenSur/parts/titlebutton-light.css";
@import "VenSur/parts/titlebutton-dark.css";
@import "VenSur/parts/toolbox.css";
@import "VenSur/parts/windows.css";
@import "VenSur/color.css";
@import "VenSur/customs/extension-menu-in-grid.css";
@import "VenSur/customs/hide-single-tab.css";


@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Set theme version text in customization panel */

#customization-footer::before {
	content: "VenSur theme ver 1.2";
	padding: 9px;
}

* {
    font-family: "SF Pro Text" !important;
    font-size: 100%;
 }

  tab[label="New Tab"] label.tab-label {
    display: none !important;
  }
  tab[label="New Tab"] .tab-label-container:after {
    content: 'Start Page';
  }

.browserContainer {
	transition: padding 150ms ease-in-out;

	> findbar {
		transition: opacity 150ms ease-in-out, margin-top 150ms ease-in-out, visibility 0s linear !important;
	}
}

/* Remove icons in ui desnity popup  and center text*/
.customization-uidensity-menuitem {
  & > .menu-icon {
    display: none !important;
  }
}

.customization-uidensity-menuitem {
  & > .menu-text {
    padding: 10px !important;
  }
}

@media not -moz-pref("show.extensions.button") {
  #unified-extensions-button{
    display: none !important
  }
}

@media not -moz-pref("show.panelUI.button") {
  #PanelUI-menu-button {
    display: none !important;
  }
}

@media not -moz-pref("show.star.button") {
  #star-button-box { display:none !important; }
}
