/* Popup menus and context menus */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root {
	--macos-menu-border: 1px solid var(--macos-menu-border-color);
	--macos-menu-outline: 1px solid var(--macos-menu-outline-color);
	--macos-menu-padding: 4px;
	--macos-menu-item-border-radius: 4px;
	--macos-menu-item-padding: 3px 8px;
	--macos-menu-item-margin: 0;
	--macos-menu-border-radius: 8px;
	--macos-toolbar-border-radius: 8px;
	--panel-item-hover-bgcolor: var(--macos-menu-item-hover) !important;
	--panel-item-active-bgcolor: var(--macos-menu-item-hover) !important;

	--arrowpanel-background: var(--macos-menu-background) !important;
	--arrowpanel-color: var(--macos-button-menulist-color) !important;
	--arrowpanel-border-color: var(--macos-menu-border-color) !important;
	--arrowpanel-border-radius: var(--macos-menu-border-radius) !important;
	--arrowpanel-padding: var(--macos-menu-padding) !important;
	--arrowpanel-menuitem-padding: var(--macos-menu-item-padding) !important;
	--arrowpanel-menuitem-margin: var(--macos-menu-item-margin) !important;
	--download-progress-fill-color: var(--theme-primary-color) !important;
}

.cui-widget-panel {
	--arrowpanel-padding: var(--macos-menu-padding) !important;
}

#PopupSearchAutoComplete {
	--panel-subview-body-padding: var(--macos-menu-padding) !important;
	--panel-padding: var(--macos-menu-padding) !important;
}

/* Style menus */

#sidebar-switcher-target > #sidebar-icon,
.identity-popup-security-connection-icon,
.subviewbutton-iconic > .toolbarbutton-icon,
.permission-popup-permission-icon,
.downloadButton > .button-box > .button-icon,
.menu-iconic-icon,
.menu-right > image,
:is(#protections-popup-mainView, .widget-overflow-list, .PanelUI-subView) .subviewbutton-nav::after {
	width: 12px !important;
	height: 12px !important;
}

/* hamburger menupopup */

#appMenu-popup,
#appMenu-popup panelview {
  background-color: transparent !important;
  color: var(--macos-toolbar-color) !important;
}


/*
menupopup {
	appearance: none;
	-moz-appearance: none !important;
	padding: var(--macos-menu-padding) !important;
	border-radius: var(--macos-menu-border-radius) !important;
	border: var(--macos-menu-border) !important;
	border-width: 2px !important;
	outline: var(--macos-menu-outline) !important;
	outline-offset: -1px !important;
	color: var(--macos-toolbar-color) !important;
	background-color: var(--macos-menu-background) !important;
}
*/

menupopup, panel:not(.autoscroller, #feature-callout, #confirmation-hint) {
	--panel-padding-block: var(--panel-subview-body-padding-block) !important;
	--panel-separator-color: var(--neptune-popover-separator-color) !important;
	--menu-arrow-size: var(--theme-menu-icon-size) !important;

	@media (-moz-platform: macos) or (-moz-platform: windows) {
		appearance: menupopup !important;
		--panel-background: Menu !important;
		--panel-border-color: transparent !important;
		--panel-shadow-margin: 0 !important;
	}

	@media (-moz-platform: windows) and (not (-moz-windows-mica-popups)) {
		appearance: none;
		-moz-appearance: none !important;
		padding: var(--macos-menu-padding) !important;
		border-radius: var(--macos-menu-border-radius) !important;
		border: var(--macos-menu-border) !important;
		border-width: 2px !important;
		outline: var(--macos-menu-outline) !important;
		outline-offset: -1px !important;
		color: var(--macos-toolbar-color) !important;
		background-color: var(--macos-menu-background) !important;
	}
}

menupopup > menuitem, menupopup > menu {
  color: var(--macos-toolbar-color) !important;
}

/* dropdown menu */

menupopup > menuitem, menupopup > menucaption, menupopup > menu {
	color: menutext !important;
	font-style: normal !important;
}
menupopup > menuitem, menupopup > menucaption, menupopup > menu[] {
	color: menutext !important;
	font-style: normal !important;
}


menupopup menupopup {
	margin: -5px 0 0 0 !important;
}



menubar > menu > menupopup {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
.customization-uidensity-menuitem{
	padding: 0px !important;
}
#customization-uidensity-autotouchmode-checkbox {
	margin-bottom: 5px !important;
}
#customization-uidensity-menu {
	position: relative;
	margin-bottom: 2px !important;
	--arrowpanel-padding: 5px !important;
	--arrowpanel-border-color: none !important;
	--arrowpanel-border: none !important
  }
menuitem,
menupopup menu {
	appearance: none;
	-moz-appearance: none !important;
	padding: var(--macos-menu-item-padding) !important;
	height: 22px !important;
}

menuitem[type="checkbox"] image,
menuitem[type="radio"] image {
	visibility: visible !important;
}

menuitem[disabled="true"]:hover,
menupopup menu[disabled="true"]:hover {
	background: transparent !important;
}

.menu-right,
.menu-accel-container {
	margin-inline: auto !important;
}

#customizationui-widget-multiview #appMenu-libraryView,
#pageActionPanel panelview,
#widget-overflow panelview {
	min-width: fit-content !important;
	max-width: max-content !important;
}

.panel-viewcontainer {
	min-height: min-content !important;
}

/* Adjust popovers position, includes background colour with transparency */

panel {
	appearance: none !important;
	background: transparent !important;
	font: menu !important;
	--panel-background: var(--macos-menu-background) !important;
	--panel-color: var(--macos-button-menulist-color) !important;
	--panel-border-color: var(--arrowpanel-border-color) !important;
	--panel-border-radius: var(--arrowpanel-border-radius) !important;
	--panel-padding: var(--arrowpanel-padding) !important;
}

panel[type="arrow"] {
	margin-top: 9px !important;
}

/* Panel padding */

panel#notification-popup popupnotification,
panel[type="arrow"].panel-no-padding:not([viewId^="PanelUI-webext"]) > panelmultiview {
	margin: var(--panel-padding) !important;
}

/* Style popovers */

.panel-arrowcontent .panel-arrowcontent,
.panel-header,
.PanelUI-subView,
.panel-subview-body,
#widget-overflow-mainView,
#protections-popup-footer,
panelview {
	border: 0 !important;
	background: transparent !important;
}

.panel-subview-body > *,
.panel-subview-footer-button,
.panel-subview-footer-button > *,
#appmenu-developer-tools-view > *,
#panelMenu_bookmarksMenu > * #appMenu_historyMenu > * #identity-popup-more-info-footer > toolbarbutton,
#widget-overflow-mainView > toolbarbutton {
	margin: 0 !important;
}

.panel-arrowcontent {
	--panel-background: var(--macos-menu-background) !important;
	border-color: var(--macos-menu-border-color) !important;
	border-radius: var(--macos-menu-border-radius) !important;
	padding: 12px !important;
	color: var(--macos-toolbar-color) !important;
	font: inherit !important;
}

.panel-arrow {
	fill: var(--macos-menu-background) !important;
	stroke: var(--macos-menu-border-color) !important;
}

.panel-header {
	padding: 10px 0 10px 0 !important;
}

.panel-footer {
	background-color: transparent !important;
	display: flex;
	justify-content: flex-end;
	padding: 0 !important;
	margin: 0 !important;
}

.panel-footer toolbarseparator {
	display: none !important;
}

.panel-subview-body {
	padding: 0 !important;
}

.panel-subview-footer {
	margin-top: 10px !important;
}

#nav-bar .toolbarbutton-1 {
	border-radius: var(--macos-toolbar-border-radius) !important;
}

/* Style popovers menu buttons */

.subviewbutton:not(.subviewbutton-back):not(.toolbarbutton-text),
.protections-popup-category,
.protections-popup-category[disabled],
.identity-popup-content-blocking-category {
	border-radius: var(--macos-menu-item-border-radius) !important;
	color: inherit;
	font: menu;
}

.all-tabs-item,
.subviewbutton:not(.subviewbutton-back):not(.toolbarbutton-1):not(.all-tabs-button):not(.all-tabs-close-button),
.protections-popup-category,
.identity-popup-content-blocking-category {
	padding: var(--macos-menu-item-padding) !important;
	margin: 0 !important;
}

.subviewbutton#appMenu-fxa-label2 {
	padding: 0 !important;
}

.subviewbutton#appMenu-fxa-label2:hover {
	background: transparent !important;
	color: #fff !important;
}

.subviewbutton[disabled],
.toolbarbutton-1[disabled],
.identity-popup-content-blocking-category[disabled] {
	opacity: 0.5 !important;
	color: var(--macos-inactive-toolbar-color) !important;
	background: none !important;
}

.subviewbutton[shortcut]:after {
	opacity: 0.5 !important;
}

/* Popover items on hover */

.bookmark-item:hover,
.bookmark-item:hover:active,
#nav-bar .panel-subview-body toolbarbutton:hover,
#nav-bar .panel-subview-body toolbarbutton:hover:active,
.panel-subview-body .toolbarbutton-1:not(.subviewbutton):hover,
.panel-subview-body .toolbarbutton-1:not(.subviewbutton):hover:active,
.subviewbutton.identity-popup-security-connection:hover,
.subviewbutton.identity-popup-security-connection:hover:active,
.subviewbutton.sendToDevice-device:hover,
.subviewbutton.sendToDevice-device:hover:active,
#protections-popup-show-report-stack:hover > .protections-popup-footer-button,
#protections-popup-show-report-stack:hover:active > .protections-popup-footer-button,
.subviewbutton:not(.nav-bar-overflow-button):not(#appMenu-fxa-label2):not(.subviewbutton-iconic):not(.panel-subview-footer-button):hover,
.subviewbutton:not(.nav-bar-overflow-button):not(#appMenu-fxa-label2):not(.subviewbutton-iconic):not(.panel-subview-footer-button):hover:active,
.customization-uidensity-menuitem:hover,
menupopup > menuitem:hover,
menupopup > menuitem:hover:active,
menupopup > menuitem[_moz-menuactive="true"]:hover,
menupopup > menuitem[_moz-menuactive="true"]:hover:active,
menupopup > menu:where([_moz-menuactive="true"]:not([disabled="true"])),
menupopup > menuitem:where([_moz-menuactive="true"]:not([disabled="true"])) {
	color: var(--macos-menu-item-hover-color) !important;
	background-color: var(--macos-menu-item-hover) !important;
	--macos-headerbar-button-hover-background: var(--macos-menu-item-hover) !important;
	--macos-headerbar-button-active-background: var(--macos-menu-item-hover) !important;
}

menupopup > menuitem[_moz-menuactive="true"]:not(:hover),
menupopup > menu[_moz-menuactive="true"]:not(:hover),
.subviewbutton[aria-checked="true"],
.subviewbutton[aria-selected="true"],
.subviewbutton[selected],
.subviewbutton[checked],
.subviewbutton[open] {
  color: menutext !important;
}

/* Tick buttton for popups */

menupopup > menuitem[selected="true"],
menupopup > menu[selected="true"],
.subviewbutton[aria-checked="true"],
.subviewbutton[aria-selected="true"],
.subviewbutton[selected],
.subviewbutton[checked],
.subviewbutton[open] {
  position: relative; /* Needed for absolute ::before */
  padding-inline-start: 1.5em; /* Leave space for tick */
}

menupopup > menuitem[selected="true"]::before,
menupopup > menu[selected="true"]::before,
.subviewbutton[aria-checked="true"]::before,
.subviewbutton[aria-selected="true"]::before,
.subviewbutton[selected]::before,
.subviewbutton[checked]::before,
.subviewbutton[open]::before {
  content: "";
  position: absolute;
  left: 0.3em; /* Align inside the padding */
  top: 50%;
  transform: translateY(-50%); /* Vertically center */
  width: 1em;
  height: 1em;
  background-color: menutext;
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'><polyline points='20 6 9 17 4 12'/></svg>");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  vertical-align: middle;
}


menupopup > menuitem:hover::before,
.subviewbutton:hover::before {
  background-color: var(--macos-menu-item-hover-color) !important;
}



.bookmark-item:active,
#nav-bar .panel-subview-body toolbarbutton:active,
.panel-subview-body .toolbarbutton-1:not(.subviewbutton):active,
.subviewbutton.sendToDevice-device:active,
#protections-popup-show-report-stack:active > .protections-popup-footer-button,
.subviewbutton:not(.nav-bar-overflow-button):not(#appMenu-fxa-label2):not(.subviewbutton-iconic):not(.panel-subview-footer-button):active,
menupopup > menuitem:active,
menupopup > menuitem[_moz-menuactive="true"]:active {
	background-color: transparent !important;
	--macos-headerbar-button-active-background: transparent !important;
}

/* Right click menu */
.protections-popup-category:not([disabled]):hover,
.identity-popup-content-blocking-category:not([disabled]):hover {
	color: var(--macos-menu-item-hover-color) !important;
	background: var(--macos-menu-item-hover) !important;
}

/* Style popover separators */

toolbarseparator,
menuseparator {
	border-color: var(--macos-menu-separator-color) !important;
}

toolbarseparator:not([orient="vertical"]),
menuseparator {
	margin: 6px 8px !important;
	border-top: 1px solid currentColor !important;
	opacity: 0.2;
}

menuseparator::before {
	content: none !important;
}

toolbarseparator[orient="vertical"] {
	margin: 0 3px !important;
}

#contentAreaContextMenu menuitem image,
#contentAreaContextMenu menu image {
	visibility: visible !important;
}

/* Webchat e.g. google meet share screen display select */

#webRTC-selectWindow-menulist {
	color: var(--macos-inactive-urlbar-color) !important;
	background: var(--macos-button-hover-background) !important;
	border-radius: 5px;
}

/* Proton right click menu */

@media (-moz-proton) {
	#context-navigation > .menuitem-iconic[_moz-menuactive="true"]:not([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon {
		background-color: transparent !important;
	}
}

.unified-extensions-item-open-menu.subviewbutton {
	display: none !important;
}

/* fix menu button padding and alignment */

#PanelUI-menu-button {
	padding-inline-end: 0px !important;
	padding-left: 0px !important;
}

/* Fix alignment of menu */

panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
	margin-inline: -20px !important;
}

/* Fix bookmarks v92 */

menuseparator {
	appearance: none;
	-moz-appearance: none !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

menupopup > menuitem,
menupopup > menu {
	padding: var(--macos-menu-item-padding) !important;
	min-height: unset !important;
}

#PlacesToolbar menupopup,
#PlacesToolbar menu:not([disabled], :active) {
	--arrowpanel-background: transparent !important;
	--arrowpanel-border-radius: 0px !important;
}

#PlacesToolbar menu[_moz-menuactive],
#PlacesToolbar menu:active,
toolbarbutton.bookmark-item[open="true"] {
	background-color: var(--macos-button-active-background) !important;
}

.customization-uidensity-menu-arrowpanel{
	padding: 10px !important;
}

/*blur problem fixed*/
.menupopup-arrowscrollbox {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
	margin: 1 !important;
	padding: var(--macos-menu-padding) !important;
	border-radius: var(--macos-menu-border-radius) !important;
	border: var(--macos-menu-border) !important;
	max-width: 100% !important;
	outline: var(--macos-menu-outline) !important;
	outline-offset: -1px !important;
}

/* Update close button styling */

:root[dialogroot],
:host(dialog) {
	--in-content-page-background: var(--macos-menu-background) !important;
}

/* Cancel or secondary */

.dialog-button-box > button {
	background-color: var(--macos-button-active-background-alt) !important;
	border: 1px solid var(--macos-button-active-background-alt-border);
	color: var(--macos-button-menulist-color) !important;
}

xul|button:not([disabled="true"]):hover {
	background-color: var(--macos-button-active-background-alt-hover) !important;
	border: 1px solid var(--macos-button-active-background-alt-border);
	border-color: var(--macos-button-active-border-color) !important;
	color: var(--macos-button-menulist-color) !important;
}

/* Quit or primary button */

xul|button[default] {
	background-color: var(--macos-button-suggested-action-background) !important;
	border-color: var(--macos-button-suggested-action-border-color) !important;
	color: var(--macos-button-menulist-color) !important;
}

xul|button[default]:not([disabled="true"]):hover {
	background-color: var(--macos-button-suggested-action-hover-background) !important;
	border-color: var(--macos-button-suggested-action-border-color) !important;
	color: var(--macos-button-menulist-color) !important;
}

button:focus-visible {
	outline: 2px solid var(--theme-primary-color) !important;
}

/* checkbox */

.checkbox-check[checked] {
	background-color: var(--theme-primary-color) !important;
	color: var(--theme-alt-color) !important;
}

checkbox:not([disabled="true"]):hover > .checkbox-check[checked] {
	background-color: var(--macos-switch-active-background, color-mix(in srgb, currentColor 12.5%, var(--theme-primary-color))) !important;
}

/* Bookmark editor */

#editBookmarkPanel > :first-child {
	margin-block-start: var(--panel-padding) !important;
}

#editBookmarkPanel > * {
	margin-inline: var(--panel-padding) !important;
}

#editBookmarkPanel > :last-child {
	margin-block-end: var(--panel-padding) !important;
}

#editBookmarkPanelBottomButtons {
	padding: 0 var(--arrowpanel-padding) calc(var(--arrowpanel-padding) / 2);
}

#editBookmarkPanelContent .panel-button image {
	width: 16px;
	height: 16px;
}

/* Dialog box */

browser[primary="true"][tabDialogShowing="true"],
#main-window[window-modal-open="true"] > body > #browser {
	filter: blur(5px);
}

#browser .dialogBox {
	box-shadow: #000000bf 0px 0px 50px !important;
}

#commonDialogWindow {
	font: menu !important;
}

#commonDialogWindow .titleIcon {
	background-color: transparent !important;
}

/* Auto-complete menu */

#PopupAutoComplete {
	--panel-width: fit-content !important;
	width: fit-content !important;
}

richlistbox.autocomplete-richlistbox {
	width: fit-content !important;
	height: fit-content !important;
	margin: 0 !important;
	background-color: transparent !important;
	color: inherit !important;
}

#PopupAutoComplete > richlistbox > richlistitem {
	justify-content: flex-start !important;
	box-sizing: content-box !important;
	min-height: 20px !important;
	padding: var(--macos-menu-item-padding) !important;
	background-color: transparent !important;
	border: none !important;
	border-radius: var(--macos-menu-item-border-radius) !important;
}

#PopupAutoComplete > richlistbox > richlistitem:hover {
	color: var(--macos-menu-item-hover-color) !important;
	background-color: var(--macos-menu-item-hover) !important;
}

.autocomplete-richlistitem[originaltype="loginsFooter"] {
	margin-block-start: 12px;
	position: relative;
	overflow: visible !important;
	color: inherit !important;
}

.autocomplete-richlistitem[originaltype="loginsFooter"]::before {
	pointer-events: none !important;
	content: "";
	position: absolute;
	top: -6px;
	left: 5px;
	width: calc(100% - 10px);
	border-top: 1px solid var(--macos-menu-separator-color);
}

#PopupAutoComplete > richlistbox > richlistitem > .ac-login-item > .ac-settings-button {
	display: none !important;
}

#PopupAutoComplete:is([resultstyles~="loginsFooter"]) {
	min-width: 0 !important;
}

#PopupAutoComplete > richlistbox > richlistitem,
.autocomplete-richlistitem[originaltype="loginsFooter"],
#PopupAutoComplete > richlistbox > richlistitem > .ac-title {
	font: menu !important;
}

/* Search bar menu */

#PopupSearchAutoComplete > hbox.search-panel-header {
	padding: var(--macos-menu-item-padding) !important;
	border-radius: var(--macos-menu-item-border-radius) !important;
}

#PopupSearchAutoComplete > hbox.search-panel-header:hover {
	background-color: var(--macos-menu-item-hover);
}

/* Tab Preview Panel */

#tab-preview-panel {
	--panel-padding: 0 !important;
}

/* Downloads */
  
.downloadTypeIcon {
	width: 28px !important;
	height: 28px !important;
}

.downloadButton {
	min-width: 24px !important;
	height: 24px !important;
	border-radius: 50% !important;
}

.downloadProgress {
	height: 3px !important;
	margin-inline-end: 6px !important;
}

#emptyDownloads {
	padding-block: 1.5em !important;
}

.downloadIconShow>.button-box>.button-icon {
	list-style-image: url("chrome://global/skin/icons/search-glass.svg") !important;
}

tooltip,
#downloadsFooter,
#fullscreen-exit-button,
#statuspanel:not([type=overLink]),
.customization-checkbox,
.findbar-container > checkbox,
.unified-extensions-item-message,
#context-navigation>.menuitem-iconic,
#context-sep-navigation,
#context-sep-sharing,
#context-stop,
#context-openlink,
#context-bookmarklink,
#context-setDesktopBackground,
#toggle_toolbar-menubar,
#tabbrowser-tabs .tab-context-line,
#vertical-pinned-tabs-container-separator,
#tabbrowser-tabs[orient="vertical"][overflow]::after,
tab-group::before,
.tab-group-label-container::after,
.titlebar-spacer,
#toolbar-menubar,
#searchmode-switcher-dropmarker,
.search-go-button,
#customization-uidensity-menu
#urlbar .search-one-offs {
	display: none !important;
}



